Repository CircuitVerse/CircuitVerse, pull requests merged in 2020-03, with the labels that each got.

#1053 Minor improvements in the New Group Page.
  app/views/groups/new.html.erb
Labels: New_UI

#966 Smart Cursor #948
  public/js/engine.js
Labels: Simulator

#1063 Assignment Details page - New UI
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/assignments.scss
  app/assets/stylesheets/logixRelease.scss
  app/views/assignments/show.html.erb
Labels: New_UI

#1070 Fixed testbench
  public/testbench.html
Labels: Simulator

#1066 Fixed Circuit Outline
  app/views/users/logix/_dashboard.html.erb
Labels: New_UI

#1062 Improves Group Description Page
  app/assets/stylesheets/group_members.scss
  app/views/groups/show.html.erb
  spec/system/group_spec.rb
Labels: New_UI

#1057 Fix some bugs and enhance projects page
  app/assets/stylesheets/logixRelease.scss
  app/views/projects/show.html.erb
Labels: New_UI

#1020 Fixed Overlapping of Logo in footer
  app/views/layouts/_footer.html.erb
Labels: New_UI

#1156 Fix Bug in Learn Logic Design Button Homepage
  app/assets/stylesheets/home.scss
  app/views/logix/index.html.erb
Labels: New_UI

#1165 Fixes new group page issues
  app/assets/stylesheets/groups.scss
  app/assets/stylesheets/logixRelease.scss
  app/views/groups/_form.html.erb
  app/views/groups/new.html.erb
Labels: New_UI

#1061 New UI Example Page
  app/assets/images/examples/ALU_n.png
  app/assets/images/examples/AsyncCounter_n.jpeg
  app/assets/images/examples/FlipFlop_n.jpeg
  app/assets/images/examples/Keyboard_n.jpeg
  app/assets/images/examples/RippleCarry_n.jpeg
  app/assets/images/examples/fullAdder_n.png
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/examples.scss
  app/controllers/logix_controller.rb
  app/views/logix/examples.html.erb
Labels: New_UI

#1171 Fix The Position of Navbar on top on Scroll
  app/assets/javascripts/application.js
  app/assets/javascripts/scroll.js
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/theme.scss
Labels: New_UI

#1145 hover effect on for teachers , contributors
  app/assets/stylesheets/home.scss
Labels: New_UI

#1104 Added Changes in cursor in Simulator
  app/views/simulator/edit.html.erb
  public/js/logix.js
Labels: Simulator

#772 Include font size property for text tool #444
  public/js/modules.js
Labels: no-pr-activity

#1152 for (teacher contributor) button position need to be fixed
  app/assets/stylesheets/home.scss
Labels: New_UI

#1189 Alingment issue in feature section homepage
  app/views/logix/index.html.erb
Labels: New_UI

#1175 Fixes content alignment issues in homepage
  app/assets/stylesheets/home.scss
  app/views/logix/index.html.erb
Labels: New_UI

#1208 fix squished profile image
  app/assets/stylesheets/logixRelease.scss
  app/views/users/logix/index.html.erb
  app/views/users/logix/profile.html.erb
Labels: New_UI

#1147 reduce top-margin space at phone screens
  app/assets/stylesheets/home.scss
Labels: New_UI
