Repository CircuitVerse/CircuitVerse, pull requests merged in 2022-06, with the labels that each got.

#3162 feat: Tests for the simulator
  .babelrc
  .github/workflows/jest.yml
  jest.config.js
  jest.setup.js
  package.json
  simulator/spec/circuits/gates-circuitdata.json
  simulator/spec/gates.spec.js
  simulator/spec/testData/gates-testdata.json
  simulator/src/Verilog2CV.js
  simulator/src/testbench.js
  simulator/src/verilog.js
  yarn.lock
Labels: GSoC'22

#3145 [Infra] Migrate docker to alpine base image
  Dockerfile
  docker-compose.yml
Labels: infra

#3004 fixes#2990: Fixed overlapping checkbox in Firefox
  app/assets/stylesheets/users.scss
Labels: enhancement, awaiting-approval

#3188 fix: setup documentation
  SETUP.md
Labels: documentation

#3167 feat: sso integration
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/users/saml_sessions_controller.rb
  app/models/user.rb
  app/views/users/shared/_links.html.erb
  config/attribute-map.yml
  config/initializers/devise.rb
  config/locales/views/users/en.yml
  config/locales/views/users/hi.yml
  config/routes.rb
Labels: GSoC'22

#3191 feat: added tests for simulator misc-elements
  simulator/spec/circuits/misc-circuitdata.json
  simulator/spec/misc.spec.js
  simulator/spec/testData/misc-testdata.json
Labels: GSoC'22

#3201 feat(projects): implement projects search api
  app/controllers/api/v1/base_controller.rb
  app/controllers/api/v1/projects_controller.rb
  config/routes.rb
  spec/requests/api/v1/projects_controller/search_project_spec.rb
Labels: GSoC'22

#3190 feat(api): expose profile picture parameter
  app/controllers/api/v1/users_controller.rb
  app/serializers/api/v1/user_serializer.rb
  appveyor.yml
  spec/fixtures/files/profile.png
  spec/requests/api/v1/users_controller/update_spec.rb
  spec/support/api/schemas/user.json
Labels: GSoC'22
