Repository CircuitVerse/CircuitVerse, pull requests merged in 2022-02, with the labels that each got.

#2913 Fix-disappearing Property Panel on deleting elements
  simulator/src/ux.js
Labels: enhancement

#2948 fix: Test-bench crashes on `Redo`
  simulator/src/data/redo.js
Labels: simulator

#2942 fixed: Undoing in sub-circuit after removing an input/output node in main circuit crashes the simulator
  simulator/src/subcircuit.js
Labels: simulator

#2583 fixes: size of group members for 'non-admin group viewer' should be less
  app/assets/stylesheets/groups.scss
  app/helpers/group_members_helper.rb
  app/views/groups/_group_members.html.erb
  app/views/groups/show.html.erb
Labels: platform, awaiting-approval

#2940 fix: change post method to put method to update notification
  app/views/activity_notification/notifications/default/_default.html.erb
  app/views/activity_notification/notifications/default/_default_without_grouping.html.erb
Labels: enhancement, 🐞 bug

#2950 Wrong links#2932
  app/views/layouts/_header.html.erb
  config/locales/views/groups/en.yml
  config/locales/views/groups/hi.yml
Labels: enhancement, work-in-progress
