Repository CircuitVerse/CircuitVerse, pull requests merged in 2022-11, with the labels that each got.

#3314 feat: markasread in dropdown
  app/assets/stylesheets/layout.scss
  app/controllers/users/noticed_notifications_controller.rb
  app/views/layouts/_notifications.html.erb
  app/views/users/noticed_notifications/index.html.erb
  config/routes.rb
  spec/controllers/noticed_notifications_controller_spec.rb
Labels: notifications

#3334 feat: fixed notification text overlapping
  app/assets/stylesheets/users.scss
  app/views/layouts/_notifications.html.erb
  app/views/users/noticed_notifications/index.html.erb
Labels: platform

#3261 feat: updated docs for simulator testing
  SETUP.md
Labels: GSoC'22
