Repository CircuitVerse/CircuitVerse, pull requests merged in 2023-10, with the labels that each got.

#4141 fix(EditButton): alignment,fixed alignment of edit button in Dashboad
  app/assets/stylesheets/components.scss
Labels: Hacktoberfest

#4124 fix: blank in profile for educational institute
  app/views/users/circuitverse/index.html.erb
  config/locales/bn.yml
  config/locales/en.yml
  config/locales/hi.yml
  config/locales/mr.yml
Labels: Hacktoberfest

#4131 fix: Improve projects responsiveness#4108
  app/assets/stylesheets/components.scss
  app/assets/stylesheets/layout.scss
Labels: Hacktoberfest, hacktoberfest-accepted

#4143 fix: alignment of name for searched profiles
  app/views/users/circuitverse/search.html.erb
Labels: Hacktoberfest

#4156 fix(ui): social media icons alignment
  app/assets/stylesheets/footer.scss
  app/views/layouts/_footer.html.erb
Labels: hacktoberfest-accepted

#4121 Fix(#4106) improve responsiveness of profile page
  app/assets/stylesheets/users.scss
  app/views/users/circuitverse/index.html.erb
Labels: Hacktoberfest, hacktoberfest-accepted
