Repository CircuitVerse/CircuitVerse, pull requests merged in 2023-09, with the labels that each got.

#3916 Change the implementation of the priority queue to use a heap data structure
  simulator/src/eventQueue.js
  simulator/src/simulationArea.js
Labels: simulator, GSoC'23

#4017 chore: remove unwanted gems
  Gemfile
  Gemfile.lock
  config/initializers/opentelemetry.rb
Labels: ruby

#4016 feat(gsoc): configure jwt for CircuitVerse web to be used with vue simulator
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/lib/json_web_token.rb
  spec/controllers/users_registrations_controller_spec.rb
  spec/controllers/users_sessions_controller_spec.rb
  spec/lib/json_web_token_spec.rb
Labels: awaiting-approval, GSoC'23

#4012 fix: specific check for use foreman in github codespaces
  .devcontainer/docker-compose.yml
  bin/dev
Labels: 🐞 bug
