Repository CircuitVerse/CircuitVerse, pull requests merged in 2023-08, with the labels that each got.

#3767 Implemented_safe_recovery_from_simulator_crash
  simulator/src/data/project.js
  simulator/src/data/save.js
  simulator/src/setup.js
Labels: simulator, GSoC'23

#3866 Integration testing for project management
  app/views/projects/_add_collaborator_modal.html.erb
  spec/system/project_spec.rb
Labels: GSoC'23

#3947 feat: distributed tracing using OpenTelemetry
  .gitignore
  .otel/README.md
  .otel/docker-compose.yaml
  .otel/otel-config.yaml
  Gemfile
  Gemfile.lock
  SETUP.md
  config/initializers/opentelemetry.rb
Labels: ruby, docker, GSoC'23

#3836 Unit test for helpers
  spec/helpers/assignment_helper_spec.rb
  spec/helpers/utils_spec.rb
Labels: GSoC'23

#3852 Unit test for controllers
  spec/controllers/announcements_controller_spec.rb
  spec/controllers/assignments_controller_spec.rb
  spec/controllers/group_members_controller_spec.rb
Labels: GSoC'23

#3864 Integration testing for group management
  spec/system/group_spec.rb
Labels: GSoC'23

#3960 feat: serve profile_pictures with ActiveStorage
  app/controllers/api/v1/base_controller.rb
  app/controllers/users/circuitverse_controller.rb
  app/helpers/users_circuitverse_helper.rb
  app/models/user.rb
  app/serializers/api/v1/user_serializer.rb
  app/views/projects/get_projects.html.erb
  app/views/projects/search.html.erb
  app/views/users/circuitverse/edit.html.erb
  app/views/users/circuitverse/index.html.erb
  app/views/users/circuitverse/search.html.erb
  config/environments/production.rb
  config/storage.yml
  db/data_migrations/20230819192811_rename_active_storage_profile_pictures.rb
  spec/helpers/users_circuitverse_helper_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/api/v1/users_controller/update_spec.rb
  spec/support/api/schemas/project_with_collaborators.json
  spec/support/api/schemas/read_notification.json
  spec/support/api/schemas/read_notifications.json
  spec/support/api/schemas/unread_notifications.json
  spec/support/api/schemas/user.json
  spec/support/api/schemas/users.json
Labels: GSoC'23

#3863 Integration testing for profile management
  Gemfile.lock
  spec/system/user_profile_spec.rb
Labels: GSoC'23

#3865 Integration testing for assignment management
  spec/system/assignment_spec.rb
Labels: GSoC'23

#3835 Unit test for models
  spec/models/announcement_spec.rb
  spec/models/push_subscription_test.rb
  spec/models/user_spec.rb
Labels: GSoC'23

#3959 Integration testing for project management
  app/views/projects/_add_collaborator_modal.html.erb
  spec/system/project_spec.rb
Labels: GSoC'23

#3870 Added helpful functions for debugging of circuit
  simulator/src/circuit.js
Labels: simulator, GSoC'23

#3933 Documentation Update
  Brewfile
  DEBUGGER-SETUP.md
  SETUP.md
  installation_docs/docker.md
  installation_docs/manual/linux.md
  installation_docs/manual/mac.md
  installation_docs/manual/windows.md
  installation_docs/remote_development.md
Labels: GSoC'23

#3952 feat: continuous deployment workflow using github actions and kamal
  .github/workflows/deploy.yml
  .github/workflows/docker-publish.yml
  Dockerfile.production
  Gemfile
  Gemfile.lock
  bin/docker-entrypoint
  config/database.example.yml
  config/deploy.yml
  config/environments/production.rb
  config/routes.rb
  lib/middleware/assume_ssl.rb
Labels: docker, infra, GSoC'23

#3913 Docker based development improvement
  Dockerfile
  Procfile.dev
  bin/dev
  bin/docker/boot
  bin/docker/setup
  bin/docker/wait_for_setup
  bin/docker_run
  bin/docker_run.ps1
  config/database.docker.yml
  config/vite.json
  docker-compose.yml
Labels: GSoC'23

#3928 fix: Moving a component mess up the connected wires
  simulator/src/data/load.js
  simulator/src/utils.js
  simulator/src/wire.js
Labels: simulator, GSoC'23

#3781 Implemented state machine for simulator
  simulator/src/circuit.js
  simulator/src/data/undo.js
  simulator/src/engine.js
  simulator/src/listeners.js
  simulator/src/ux.js
Labels: simulator, GSoC'23

#3993 chore: make maintenance tasks migrations safe
  .github/workflows/deploy.yml
  db/migrate/20230825140325_change_cursor_to_string.maintenance_tasks.rb
  db/migrate/20230825140326_remove_index_on_task_name.maintenance_tasks.rb
  db/migrate/20230825140329_change_runs_tick_columns_to_bigints.maintenance_tasks.rb
  db/migrate/20230825140330_add_index_on_task_name_and_status_to_runs.maintenance_tasks.rb
Labels: GSoC'23

#3998 feat: docker based development improvement
  .github/workflows/docker-compose.yml
  Dockerfile
  Procfile.dev
  bin/dev
  bin/docker/boot
  bin/docker/setup
  bin/docker/wait_for_setup
  bin/docker_run
  bin/docker_run.ps1
  config/database.docker.yml
  config/vite.json
  docker-compose.yml
Labels: GSoC'23

#4000 chore: mark maintenance tasks migrations safe
  db/migrate/20230825140325_change_cursor_to_string.maintenance_tasks.rb
  db/migrate/20230825140326_remove_index_on_task_name.maintenance_tasks.rb
  db/migrate/20230825140329_change_runs_tick_columns_to_bigints.maintenance_tasks.rb
  db/migrate/20230825140330_add_index_on_task_name_and_status_to_runs.maintenance_tasks.rb
Labels: GSoC'23

#3862 Updated: simulator api endpoints implemented in /api/v1/projects enpoint
  app/controllers/api/v1/projects_controller.rb
  app/controllers/api/v1/simulator_controller.rb
  config/routes.rb
  spec/factories/project_data.rb
  spec/requests/api/v1/projects_controller/check_edit_access_spec.rb
  spec/requests/api/v1/projects_controller/circuit_data_spec.rb
  spec/requests/api/v1/projects_controller/create_spec.rb
  spec/requests/api/v1/projects_controller/update_circuit_spec.rb
  spec/requests/api/v1/simulator_controller/post_issue_spec.rb
  spec/requests/api/v1/simulator_controller/verilog_cv_spec.rb
Labels: awaiting-approval, GSoC'23

#4002 feat: vite in docker dev environment and support root user
  Dockerfile
  bin/docker/boot
  bin/docker_run
  docker-compose.yml
Labels: GSoC'23

#4001 feat: deploy circuitverse to staging using kamal
  .github/workflows/deploy.yml
Labels: GSoC'23
